<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>

          <small>{{ site.tagline }}</small>

          <small><a style="float: right"href="/home/about">About</a></small>

        </h3>

      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
  <div class="wrapper">

    <h2 class="footer-heading">          
      <footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">          
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
<form action="//christanley.us11.list-manage.com/subscribe/post?u=06ee24c07aa51248e23df6338&amp;id=f03781807d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  
<div class style="text-align: center; padding-top: 5px; padding-bottom: 5px;"mc-field-group>

  <label for="mce-EMAIL"></label>
  
  <input type="email" placeholder="Enter email here" name="EMAIL" class="required email" id="mce-EMAIL"> <input type="submit" value="Send Me Updates" name="subscribe" id="updates mc-embedded-subscribe" class="btn btn-default updates"></div>

  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_ad49e24c5a69719a9b300a9d9_7a016cddd4" tabindex="-1" value=""></div>
    
    </div>
</form>
</div>

<!--End mc_embed_signup-->
      </footer>
    </div>

  </body>
</html>
